<html>
<script>
    function setLedAction(form) {
        form.action = "/leds";
        fetch(form.action, { method: 'post', body: new FormData(form) })
            .then(() => {
                window.location.reload();
            });
        return false;
    }
    function setparkAction(form) {
        form.action = "/parks" ;
        fetch(form.action, { method: 'post', body: new FormData(form) })
            .then(() => {
                window.location.reload();
            });
        return false;
    }


    function deleteLed(ledid) {
        let deleteurl = "/leds/" + ledid;
        fetch(deleteurl, { method: "DELETE" }).then(() => {
            window.location.reload();
        });
    }
    function deletepark(parkid) {
        let deleteurl = "/parks/" + parkid;
        fetch(deleteurl, { method: "DELETE" })
            .then(() => {
                window.location.reload();
            });
    }
    function onload(){
        fetch("/leds",{method:"GET"})
        .then(respone=>{
            var xDiv = document.getElementById('showLeds');
            xDiv.innerHTML= JSON.stringify(respone.json());
        })
        .catch((error)=>{
            console.log("error",error);
        })
    }
    //window.addEventListener("load",onload,false);

</script>
<link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">

<body>
    <section>
        <section>
            <div>
                <h1>ADD LEDs </h1>
                <form onsubmit="return setLedAction(this)" method="POST">
                    <p>ledid: <input type="text" name="ledid" />
                    <p>Park id: <input type="text" name="park_id" />
                        <input type="text" name="actiontype" value="add" hidden>
                    <p><input type="submit" value="Add" />
                </form>
            </div>
        </section>
        <section>
            <div>
                <h1>update LEDs </h1>
                <form onsubmit="return setLedAction(this)" method="POST">
                    <p>ledid: <input type="text" name="ledid" />
                    <p>Park id: <input type="text" name="park_id" />
                        <input type="text" name="actiontype" value="update" hidden>
                    <p><input type="submit" value="update" />
                </form>
            </div>
        </section>
        <section>
            <div>" "</div>
        </section>
        <section>
            <div>
                <h1>ADD Parks </h1>
                <form enctype="multipart/form-data" onsubmit="return setparkAction(this)" method="POST">
                    <p>Park Name: <input type="text" name="park_name" /></p>
                    <p>Park id: <input type="text" name="park_id" /></p>
                    <p>pgm File: <input type="file" name="file" /></p>
                    <input type="text" name="actiontype" value="add" hidden>
                    <p><input type="submit" value="Add" /></p>
                </form>
            </div>
        </section>
        <section>
            <div>
                <h1>update pgmfile </h1>
                <form enctype="multipart/form-data" onsubmit="return setparkAction(this)" method="POST">
                    <p>Park id: <input type="text" name="park_id" /></p>
                    <p>pgm File: <input type="file" name="file" /></p>
                    <input type="text" name="actiontype" value="update" hidden>
                    <p><input type="submit" value="update" /></p>
                </form>
            </div>
        </section>
    </section>
    <p>
    <section>
        <section>
            <div >
                <h1>LEDs</h1>
                <div id="showLeds">
                    <table>
                        <tr>
                            <th>ledid</th>
                            <th>Park id</th>
                        </tr>
                        {% for item in LEDS_DATA %}
                        <tr>
                            <td>{{ item.ledid }} <button type="button" onclick="deleteLed({{ item.ledid }})">delete</button></td>
                            <td> {{ item.park_id}}</td>
                    
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </section>
        <section>
            <div>" " </div>
        </section>
        <section>
            <div>
                <h1>Parks</h1>
                <div id="showparks">
                    <table>
                        <tr>
                            <th>Park id</th>
                            <th>park_name</th>
                            <th>pgmfilepath</th>
                        </tr>
                        {% for item in PARKS_DATA %}
                        <tr>
                            <td>{{ item.park_id }} <button type="button" onclick="deletepark({{ item.park_id }})">delete</button></td>
                            <td>{{ item.park_name }}</td>
                            <td> {{ item.pgmfilepath}}</td>
                    
                        </tr>
                        {% endfor %}
                    </table>
                   
                </div>
            </div>
        </section>
    </section>
    </p>
</body>

</html>